body{
    font-family: 'Poppins',sans-serif;
    padding-top: 50px;
}

.container {
width: 60%;
max-width: 800px;
margin: 0 auto;
}

.card-item {
display: flex;
justify-content: center;
align-items: center;
}

.card-item img {
width: 500px;
height: 350px;
border-radius: 10px;
}
  .heading{
    background: linear-gradient(120deg, rgb(155, 216, 240) 1%, rgb(249, 180, 249) 110%);
      color:rgb(255, 255, 255);
      margin-bottom:30px;
      padding:10px 0;
      text-align: center;
  }
  .items{
      display:grid;
      text-align: right;
      line-height: 8px;
      grid-template-columns: repeat(3, 1fr); 
      padding:30px 20px;
      gap: 50px;
      width: 96%;
    }
 
.pos{
    font-weight:normal;
    line-height: 15px;
}
  .item img{
      float: left;
      width:200px;
      height:100%;
      object-fit:cover;
      box-shadow: rgb(5px, 5px, 5px);
      border-radius: 2px;
      cursor:pointer;
      transition: 0.2s ease;
  }
  .item img:hover{
      transform: scale(1.04);
  }
   .item h4{
     
      
      padding: 5px;
      text-align: center;
  
  } 
  .pos{
    font-weight:normal;
  }
  .item button{
    text-decoration:none;
  }
  .item button{
      text-align: right;
      padding: 5px 30px;
      border: none;
      outline: none;
      background-color:rgb(96, 151, 178);
      color:black;
      cursor:pointer;
      border-radius: 4px;
      font-size: 20px;
      display:block;
      margin:0 auto;
      transition:0.2s all;
      text-decoration: none;
  
  }
  .item button:hover{
      transform:scale(1.08);
  }

a{
    text-decoration: none;
    text-align: center;
}
.fa-envelope{
    font-size:medium;
    font-weight: 100px;
}
.fa-phone{
    font-size :14px;
    font-weight: 50px;
}
.mail{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.mail div{
    width: 150px;
    word-wrap: break-word;
}
.pos{
    text-align-last: center;   
}
.mal{
    padding-left:70px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: row;
}
.item {
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
    border-radius: 5px;
    border: solid rgb(147, 146, 146) 2px;
    height: auto; 
    min-height: 250px;
    padding: 10px;
    width: 100%; 
}
@media (max-width: 768px) {
    .items {
        display: grid;
        text-align: center;
        line-height: 8px;
        align-items: center;
        width: 700px;
        grid-template-columns: repeat(2,1fr);
        padding: 30px 20px;
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }
    
    .item {
        margin-bottom: 0;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
        border-radius: 5px;
        border: solid rgb(147, 146, 146) 2px;
        height: auto; 
        min-height: 400px; 
        width:100%;
        text-align: center;
        padding: 10px;
    }
    .item div{
        
        text-align: center;
     
    }


    .item img {
        width: 100%; 
        height: 200px;
        object-fit: cover;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.2s ease;
        margin-bottom: 10px;
    }
    .mail{
        display: flex;
        margin-left: 0;
        padding-left: 0;
        justify-content: center;
    }
    .mal{
        display: flex;
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 0px;
        justify-content: center;
    }
}
@media (max-width: 367px) {
    .items {
        display: grid;
        text-align: right;
        line-height: 8px;
        width: 300px;
        grid-template-columns: 1fr;
        padding: 30px 20px;
        padding-top: 0;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }

    .item {
        margin-bottom: 0;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
        border-radius: 5px;
        border: solid rgb(147, 146, 146) 2px;
        height: auto; 
        min-height: 300px; 
        width:100%;
        padding: 10px;
        font-size: 14px;
    }

    .item h4{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .mail,.mal{
 
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .item img {
        width: 100%; 
        height: 200px;
        object-fit: cover;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.2s ease;
        margin-bottom: 10px;
    }
    .mail{
        margin: left 50px;
        padding-bottom: 0;
        /* margin-bottom: 20px; */
    }
    .mal{
        padding-bottom: 10px;
    }
    body{
        font-family: 'Poppins',sans-serif;
        padding-top: 0px;
        margin-top: 0px;
        /* padding-top: 80px; */
    }
    
}