.page-main2{
    display: grid;
    margin-left:0;
    grid-template-columns: 350px auto;
}

.pumain{
     margin-top: 50px;
     overflow-x: auto;


}

table th{
    background-color: lavender;
    
}
table td,table th{
    border: 1px solid black;
    overflow: hidden;
    /* width:100px; */
            }


@media (max-width:768px) {
    .page-main2{
        display: grid;
        margin-left:0;
        grid-template-columns: 0 auto;
    }
    .pumain{
        margin-top: 70px;;
    }
}


@media (max-width:400px) {
    .page-main2{
        display: grid;
        margin-left:0;
        grid-template-columns: 0 auto;
    }
    .pumain{
        margin-top: 40px;;
    }
    .pumain h4{
        margin-bottom: 10px;
        
    }
}
