.page-main2{
    display: grid;
    margin-left:0;
    grid-template-columns: 350px auto;
}

.pumain{
     margin-top: 100px;
     overflow-x: auto;


}

table th{
    background-color: lavender;
    
}
table td,table th{
    border: 1px solid black;
    overflow: hidden;
    /* width:100px; */
            }

@media (max-width:367px) {
    .page-main2{
        display: grid;
        margin-left:0;
        grid-template-columns: 0 auto;
    }
}


@media (max-width:768px) {
    .page-main2{
        display: grid;
        margin-left:0;
        grid-template-columns: 0 auto;
    }
}