@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.para2{
    font-size: 20px;
    font-family: "Sarabun", sans-serif;
    font-weight:400;
    font-style: normal;
    cursor: pointer;

    background: linear-gradient(to right, lightblue, rgb(198, 143, 225));
    max-width: 800px;
    margin: 0 auto;
    padding:10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:800px;
    height: 40px;
    text-align: left;
}
     

.container{
    max-width: 50rem;
    margin: 0 auto;
    background: linear-gradient(to right, lightblue, rgb(198, 143, 225));
    padding-top: 0.5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100rem;
    height: 4.5rem;
    text-align: left;
}
/* .cont2{
    

     
    max-width: 50rem;
    margin: 0 auto;
    background: linear-gradient(to right, lightblue, rgb(198, 143, 225));
    padding-top: 0.5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100rem;
    height: 4.5rem;

    text-align: left;
    position: sticky;
} */

.table1{
    margin:0 auto;
    border:none;
    width: 700px;
}


#table1{
    width:100%;
    border-collapse: collapse;
    margin-top: 20px;
    visibility: hidden;
    
    
}

.table-head:hover{
    text-decoration: underline;
   text-decoration-color: #ccc;
}
th, td{
    border: 1px;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
   
}
tr{
    border-bottom: 1px solid #ccc;
}

th{
    background-color: #f2f2f2;
    

}
tr:hover{
    background-color: #f5f5f5;
}
.center{
    text-align: center;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: none;
}
.hed{
    padding-top: 40px;
}


@media(max-width:400px)
{
    .headin{
        font-size: 20px;
    }
    .hed{
        padding-top: 20px;
    }
    .para2{
        font-size: 15px;
        font-family: "Sarabun", sans-serif;
        font-weight:400;
        font-style: normal;
        cursor: pointer;
        background: linear-gradient(to right, lightblue, rgb(198, 143, 225));
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding:10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width:350px;
        height: 50px;
        text-align: cent;
    }
    .table1{
        margin:0 auto;
        width: 300px;
    }
    th{
        width: 50px;
        padding: 0px;
        font-size: 11px;
    }
    #table1{
        width: 10%;
        border-collapse: collapse;
        visibility: hidden;
        margin:0 auto;
    
        
    }
    .container, .cont2{
        max-width: 300px;
        margin: 0 auto;
        background: linear-gradient(to right, lightblue, rgb(198, 143, 225));
        padding-top: 0.5px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width:300px;
        height: 70px;
        text-align: left;
        position: sticky;
    }
    
}